.pav{
    text-align: center;
    color: yellowgreen;
background-color: grey;
  font-size: 50px; 
  font-family: monospace; 
  border: 5px double black;
  border-radius: 10px;
}
.pav:hover{
    color: white;
    background-color: black;
    border: 5px dotted orange;
}

.detailedList{
    column-count: 3;
    border: 2px dashed black;
    padding: 15px;
}


.table{
border-collapse: 3;
width: 60%;
margin: 0 auto;

}

th, td {
border: 1px solid black;
text-align: center;
font-size: larger;
}
th{
    font-size: 24px;
    background-color: blueviolet;
    color: lightgreen;
}

th{
    border: 1px solid black;
    text-align: center
}

td{
    border: 1px solid black;
    text-align: center
}

tbody tr:nth-child(2n+1){
    background-color: lightgrey;

}



